# 環境變數
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.sqlite3

# Django
*.log
*.pot
*.pyc

# 虛擬環境
venv/
ENV/

# IDE相關
.idea/
.vscode/
*.swp
*.swo

# 系統相關
.DS_Store
Thumbs.db